 <!DOCTYPE html>
 <html>
 <head>
 	<link rel="stylesheet" href="vince.css" >
 	<link rel="stylesheet" href="colorFade.css" > 
 	<script type="text/javascript" src="colorFade.js" > </script>
 	<link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">  
 	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
 	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
 	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Saira+Condensed" rel="stylesheet"> 
 	<link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet"> 
 	<link rel="stylesheet" type="text/css" href="http://prestigeinsurancetexas.com/prestige/lib/animate/animate.min.css">
 	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
 	<script
 	src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
 	<script type="text/javascript" src="fadeOnScroll.js"></script>
 	
 </head>

 <body>	<button onclick="topFunction()" id="myBtn" title="go to top"><i class="fas fa-chevron-circle-up"></i></button>

 			<!--begin 'about' section-->
 			
 				<h1 id="header" class="hideme text-center">Shelnutt Web Services</h1>
 			<
 				<div id="top" class="row">
 					<div class="text-center col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2">
 						<img class="pulse img-responsive img-circle img-thumbnail" src="logo.jpg">
 					</p>
 				</div>
 				<!-- "col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-4" -->
 			</div>
 			<div class=" container">
 				<div class="text-center col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2">
 				<div class="" id="social">
 					<i class="hideme fab fa-github"></i><a href="#portfolioSectionTop" class="btn-get-started">Get Started</a><i class="hideme fab fa-linkedin"></i>
 				</div>
 			</div>

 			</div>
 			<div id="portfolioSectionTop"></div>
 		</div>


 			<br>
 			<hr>
 			<p class="hideme text-center" id="colorFade"> <br>HI I'm Vince and I want to build you a website!<br></p>
 			<hr>

 			<!--begin portfolio section-->
 			<div>
 				<h2 class="text-center" id="pheader">Take a look at some of my projects:</h2>
 				<br><br>
 			</div>
 			<div id="portfolio" class = "row center-block">
 				<div class = "col-sm-6 col-md-6 col-lg-6" id="psection">
 					<a href = "http://prestigeinsurancetexas.com/" class = "thumbnail">
 						<img src = "prestige.jpg" alt = "Prestige Insurance">
 					</a>
 					<div class = "caption">
 						<h3>Prestige Insurace Texas</h3>
 						<p>An interactive insurance company website. </p>                                                                         </div>
 					</div>
 					<div  class = "row center-block" >
 						<div class = "col-sm-6 col-md-6 col-lg-6" id="psection">
 							<a href = "http://my-little-pwny.com/willetstore/" class = "thumbnail">
 								<img src = "willetstore.jpg" alt = "Willet Run Automotive">
 							</a>
 							<div class = "caption">
 								<h3>Willet Run Automotive</h3>
 								<p>A basic and functional Ecommerce website.</p>                                                            
 						    </div>
 						</div>
 					</div>
 					</div>
 					<br><br>
 					<hr>
 					<!--begin contact section-->  
 					      
						<div class="row text-center col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2">	       
 				<div id="contact">Contact</div>

<div class="btn-get-started"id="contactForm">
	<div id="small" class="colorFade">
	<h4>Send me a message!</h4>
  <small>I'll get back to you as quickly as possible</small>
  
  <form action="#">
    <input placeholder="Name" type="text" required />
    <input placeholder="Email" type="email" required />
    <input placeholder="Subject" type="text" required />
    <textarea placeholder="Comment"></textarea>
    <input class="formBtn" type="submit" />
    <input class="formBtn" type="reset" />
  </form>
</div>
</div>


 					</body>
<script type="text/javascript" src="topArrow.js"></script>
<script type="text/javascript" src="contact.js"></script>
 					</html>

